{{! Gear Tab }}
<section class='tab gear scrollable {{tab.cssClass}}' data-group='primary' data-tab='gear'>

  <section class='grid grid-2-col'>

    {{! Item list - inventory }}
    <ol class='items-list grid-span-2'>
      <li class='item flexrow items-header'>
        <div class='item-name'>{{localize 'CS_SYSTEM.Item.Gear.label'}}</div>
        <div class='item-name'>{{localize 'CS_SYSTEM.Item.Fields.quantity'}}</div>
        <div class='item-name'>{{localize 'CS_SYSTEM.Item.Fields.cost'}}</div>      
        <div class='item-controls'>
          {{#if @root.editable}}
            <a
              class='item-control item-create'
              data-tooltip='{{localize 'GAME.MESSAGES.List.create'}}'
              data-action='createDoc'
              data-document-class='Item'
              data-type='gear'
            >
              <i class='fas fa-plus'></i>
            </a>
          {{/if}}
        </div>
      </li>
      {{#each gear as |item id|}}
        <li
          class='item flexrow draggable'
          data-item-id='{{item._id}}'
          data-document-class='Item'
        >
          <div class='item-name'>
{{!-- [Dev] Image removed until icon reset fixed}}
            {{!-- <div class='item-image'>
                <img
                  src='{{item.img}}'
                  data-tooltip='{{item.name}}'
                  width='24'
                  height='24'
                />
            </div> --}}
            <div>{{item.name}}</div>
          </div>
          <div class='item-name'>{{item.system.quantity}}</div>
          <div class='item-name'>{{item.system.cost}}</div>
          <div class='item-controls'>
            <a
              data-tooltip='{{localize 'GAME.MESSAGES.List.update'}}'
              data-action='viewDoc'
            >
              <i class='fas fa-edit'></i>
            </a>
            {{#if @root.editable}}
              <a
                data-tooltip='{{localize 'GAME.MESSAGES.List.delete'}}'
                data-action='deleteDoc'
              >
                <i class='fas fa-trash'></i>
              </a>
            {{/if}}
          </div>
        </li>
      {{/each}}
    </ol>
  
    {{! Mount list }}
    <ol class='items-list grid-span-2'>
      <li class='item flexrow items-header'>
        <div class='item-name'>{{localize 'CS_SYSTEM.Item.Mount.label'}}</div>
        <div class='item-name'>{{localize 'CS_SYSTEM.Item.Fields.quantity'}}</div>
        <div class='item-name'>{{localize 'CS_SYSTEM.Item.Fields.cost'}}</div>  
        <div class='item-controls'>
          {{#if @root.editable}}
            <a
              class='item-control item-create'
              data-tooltip='{{localize 'GAME.MESSAGES.List.create'}}'
              data-action='createDoc'
              data-document-class='Item'
              data-type='mount'
            >
              <i class='fas fa-plus'></i>
            </a>
          {{/if}}
        </div>
      </li>
      {{#each mount as |item id|}}
        <li
          class='item flexrow draggable'
          data-item-id='{{item._id}}'
          data-document-class='Item'
        >
          <div class='item-name'>
{{!-- [Dev] Image removed until icon reset fixed}}
            {{!-- <div class='item-image'>
                <img
                  src='{{item.img}}'
                  data-tooltip='{{item.name}}'
                  width='24'
                  height='24'
                />
            </div> --}}
            <div>{{item.name}}</div>
          </div>
          <div class='item-name'>{{item.system.quantity}}</div>
          <div class='item-name'>{{item.system.cost}}</div>
          <div class='item-controls'>
            <a
              data-tooltip='{{localize 'GAME.MESSAGES.List.update'}}'
              data-action='viewDoc'
            >
              <i class='fas fa-edit'></i>
            </a>
            {{#if @root.editable}}
              <a
                data-tooltip='{{localize 'GAME.MESSAGES.List.delete'}}'
                data-action='deleteDoc'
              >
                <i class='fas fa-trash'></i>
              </a>
            {{/if}}
          </div>
        </li>
      {{/each}}
    </ol>

    <div class='separator grid-span-2'></div>

  {{! Coinage - money}}
    <div class='sheet-col grid-start-2'>
      <div class='col-header-container'>
        <h3 class='scores-header'>
          {{localize 'CS_SYSTEM.Actor.Character.Fields.coinage.header'}}
        </h3>
      </div>
      <div class='flex-group-right mb-2'>
        <label class='resource-label flexlarge mr-5'>{{localize 'CS_SYSTEM.Actor.Character.Fields.coinage.copper.label'}} ({{localize 'CS_SYSTEM.Actor.Character.Fields.coinage.copper.abbr'}})</label>
        <input type='text' name='system.coinage.copper' value='{{system.coinage.copper}}' data-dtype='Integer' class='info-input-small ml-5'/>
      </div>
      <div class='flex-group-right mb-2'>
        <label class='resource-label flexlarge mr-5'>{{localize 'CS_SYSTEM.Actor.Character.Fields.coinage.silver.label'}} ({{localize 'CS_SYSTEM.Actor.Character.Fields.coinage.silver.abbr'}})</label>
        <input type='text' name='system.coinage.silver' value='{{system.coinage.silver}}' data-dtype='Integer' class='info-input-small ml-5'/>
      </div>
      <div class='flex-group-right mb-2'>
        <label class='resource-label flexlarge mr-5'>{{localize 'CS_SYSTEM.Actor.Character.Fields.coinage.gold.label'}} ({{localize 'CS_SYSTEM.Actor.Character.Fields.coinage.gold.abbr'}})</label>
        <input type='text' name='system.coinage.gold' value='{{system.coinage.gold}}' data-dtype='Integer' class='info-input-small ml-5'/>
      </div>
      <label class='info-label align-right flexlarge'>{{localize 'CS_SYSTEM.Actor.Character.Fields.coinage.rates.ss2cp'}}</label>
      <label class='info-label align-right flexlarge'>{{localize 'CS_SYSTEM.Actor.Character.Fields.coinage.rates.gd2ss'}}</label>
    </div>
  
  </section>

</section>
